.header {
    color: blue;
    width: 400px;
    height: 400px;
    border: solid 1px #000;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 10%;
    margin-top: 100px;
    display: block;
    opacity: 0.7;
    &:hover {
        transition: .5s;
        box-shadow: 0px 1px 5px black;
        opacity: 1;
    }
    .block {
        margin: 0;
       margin-top: 80px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 469px) {
    .header {
        width: 250px;
        height: 250px;
      
    }
   
}
